<div class="galerie-animata">
    <% for (let [index, imag] of locals.imagini.entries()){ %>
        <% if (index <= 9 && index >= locals.offset && index < locals.offset + locals.nrImagini)
        { %>
            <figure title="<%= imag.descriere %>">
                <picture>
                    <source srcset="<%- imag.mic %>" media="(max-width: 480px)" />
                    <source srcset="<%- imag.mediu %>" media="(max-width: 1020px)" />
                    <img src="<%- imag.mare %>" alt="<%- imag.titlu  %>" />
                </picture>
                <figcaption>
                    <%- imag.titlu ? imag.titlu : "Software" %>
                        <%- imag.autor ? ", de " +
            imag.autor : "" %>
                            <%- imag.license ? " sub licenta " + imag.license : ""
            %>
                </figcaption>
            </figure>
            <% } %>
                <% } %>
</div>

<!--index >= locals.offset && index <= locals.offset + locals.nrImagini-->