<script>
    window.addEventListener('DOMContentLoaded', function() {
        let theme = localStorage.getItem("theme") == "lighttheme";
        document.getElementById("themebtn").childNodes[0].className = localStorage.getItem("themebtn");
        if (!theme) {
            document.body.classList.add("darktheme");
        }
    });
</script>

<header>
    <p class="watermark"></p>
    <div id="themebtn"><i class="fa-solid fa-sun"></i></div>
    <div class="banner">
        <h1>Software License Shop <i class="fas fa-sync fa-spin"></i></h1>
    </div>
    <% if(!locals.utilizator) { %>
        <form method="post" class="date" action="/login" enctype="multipart/form-data">
            <p>
                <label>
                Username: <input type="text" name="username" pattern="[A-Za-z0-9]+" required>
            </label>
            </p>
            <p>
                <label>
                Password: <input type="password" required  name="parola" value="" required>
            </label>
            </p>
            <input type="submit" value="Log in">
            <span><%-locals.mesajLogin%></span>
            <%}%>
                <% if(locals.utilizator) { %>
                    <img src="/user_pics/<%-locals.utilizator.imagine%>" alt="/user_pics/<%-locals.utilizator.imagine%>">
                    <%}%>
        </form>
        <nav>
            <div class="printtitle">
                <h1>Software License Shop</h1>
                <%-locals.prop%>
            </div>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="hamlabel" for="menu-btn">
            <div class="ham">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </label>
            <ul class="menu">
                <li class="dropdown">
                    <button class="dropbtn"><a href="/index"><i class="fa-solid fa-house-chimney"></i></i><span
                            class="acasa">Home</span></a></button>
                    <div class="dropdown-content">
                        <a href="/index#welcome">Welcome</a>
                        <a href="/index#offers">Offers</a>
                        <a href="/index#news">News</a>
                        <a href="/index#products">Products</a>
                        <a href="/index#faq">FAQ</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn"><a href="/about">About</a></button>
                    <div class="dropdown-content">
                        <a href="/about#ourteam">Our team</a>
                        <a href="/about#history">History</a>
                        <a href="/about#motivation">Motivation</a>
                        <a href="/about#gallery">Gallery</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn"><a href="/contact">Contact</a></button>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Forms</button>
                    <div class="dropdown-content">
                        <a href="/feedback">Feedback</a>
                        <a href="/companyform">Sell with us</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn"><a href="/produse">Produse</a></button>
                    <div class="dropdown-content">
                        <% for (let categ of locals.categ) { %>
                            <a href="/produse?tip=<%-categ.unnest%>">
                                <%- categ.unnest %>
                            </a>
                            <%}%>
                                <% if (locals.utilizator && locals.utilizator.rol == 'admin') %>
                                    <a href="/administrare">Administrare</a>
                    </div>
                </li>
                <% if(locals.utilizator) { %>
                    <li class="dropdown">

                        <button class="dropbtn">Logged in:<%- locals.utilizator.username %></button>
                        <div class="dropdown-content">

                            <a href="/profil">Profil</a>
                            <a href="/logout">Logout</a>

                        </div>
                    </li>
                    <% } %>
                        </li>
                        <% if(locals.utilizator && locals.utilizator.rol == 'admin') { %>
                            <li class="dropdown">
                                <button class="dropbtn"> <a href="/useri">Useri</a></button>
                                <% } %>
            </ul>
        </nav>
</header>