<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form </title>
    <%- include("../../fragmente/head") %>
        <script type="text/javascript" src=/resurse/js/companyform.js></script>
</head>

<body>
    <%- include("../../fragmente/header") %>

        <main>
            <div class="afisaj">
                <h1>Inregistrare utilizator</h1>

                <% if(!locals.raspuns) { %>
                    <%-include("../../fragmente/formular", {action: "/companyform"}) %>
                        <% } %>

                            <% if(locals.raspuns) { %>
                                <%- locals.raspuns+"<br/>"%>
                                    <% } %>
                                        <% if(locals.err) { %>
                                            <%- locals.err %>
                                                <% } %>
            </div>
        </main>

        <footer>
            <%- include("../../fragmente/footer") %>
        </footer>

</body>

</html>