<!DOCTYPE html>

<html lang="en">

<head>
    <title>Feedback</title>
    <%- include("../../fragmente/head.ejs") %>
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <link rel="stylesheet" href="/resurse/style/produs.css">
</head>

<body>
    <%- include("../../fragmente/header.ejs") %>
        <main>
            <label>Key word : <input type="text" id="inp-keyword"></label>
            <label> Min price: <%-locals.max_price%> <input type="range" id="priceRange" value="0" min="<%-locals.max_price%>"  max="<%-locals.min_price%>"> <%-locals.min_price%>(<span id="inp-price"><%-locals.max_price%></span>)</label>
            <label for="product-names">Name:</label>
            <input list="product-names" id="product-choice" name="product-choice" />
            <datalist id="product-names">
                <% for( let prod of locals.produse) { %>
                    <option value="<%-prod.nume%>">
                    <% }%>
            </datalist>
            <p>Select storage size:</p>

            <div>
                <input type="radio" name="szrad" value="1">
                <label>MB <= 200</label>
            </div>

            <div>
                <input type="radio" name="szrad" value="2">
                <label>200 < MB <= 500</label>
            </div>

            <div>
                <input type="radio" name="szrad" value="3">
                <label>500 < MB <= 950</label>
            </div>
            <div>
                <input type="radio" name="szrad" value="4" checked>
                <label>Any</label>
            </div>
            <div>
                <input type="checkbox" id="noutati" checked>
                <label>After <time class="val-noutati"><%-(new Date("June 10 2021")).toLocaleString('default', { weekday: 'long' })%> <%-(new Date("June 10 2021")).getUTCDate()%> <%- (new Date("June 10 2021")).toLocaleString('default', { month: 'long' })%>, <%-(new Date("June 10 2021")).getFullYear() %></time></label>
            </div>
            <label>Name:</label>

            <textarea id="textarea-name" rows="1" cols="33"></textarea>

            <label>Source type :</label>
            <select id="source-select">
                <option value="1" name="src-select">Open source</option>
                <option value="2" name="src-select">Closed source</option>
                <option value="3" name="src-select" selected>Any</option>
            </select>

            <label>Platforms :</label>
            <select id="platform-select" multiple>
                <option value="1" name="plt-select">Android</option>
                <option value="2" name="plt-select">Ios</option>
                <option value="3" name="plt-select" selected>Macos</option>
                <option value="4" name="plt-select">Windows</option>
                <option value="5" name="plt-select">Linux</option>
                <option value="6" name="plt-select" selected>Any</option>
            </select>

            <button id="filter">Filter</button>
            <button id="sortAsc">Sort ascending</button>
            <button id="sortDesc">Sort descending</button>
            <button id="sum-button">Price sum</button><span id="s-sum"></span>
            <button id="reset">Reset</button>

            <section id="produse">
                <h2>Products</h2>
                <div class="grid-produse">
                    <% for( let prod of locals.produse) { %>
                        <article id="artc-<%-prod.id%>" class="produs <%- prod.categorie_mare %>">
                            <div class="art1">
                                <h3 class="nume"><span class="caracteristica">Name : </span><a href="/produs/<%-prod.id %>"><span class="val-name"><%- prod.nume%></span></a>
                                </h3>
                                <div class="info-prod">
                                    <p class="pret"><span class="caracteristica">Price: </span><span class="val-price"><%- prod.pret%></span></p>
                                    <p class="storage_size"><span class="caracteristica">Storage size(MB): </span><span class="val-storage_size"><%- prod.storage_size%></span></p>
                                    <p><span class="caracteristica">Last update:</span> <time class="last_update"><%-(new Date(prod.last_update)).toLocaleString('default', { weekday: 'long' })%> <%-(new Date(prod.last_update)).getUTCDate()%> <%- (new Date(prod.last_update)).toLocaleString('default', { month: 'long' })%>, <%-(new Date(prod.last_update)).getFullYear() %> </time></p>
                                    <p><span class="caracteristica">Source type: </span> <span class="val-src"><%- prod.categorie_mica %> </span></p>
                                    <p><span class="caracteristica">Platforms:</span> <span class="val-platform"><%- prod.platforms %> </span></p>
                                </div>
                            </div>
                            <div class="art2">
                                <p class="categorie_mare"><span class="caracteristica">Category: </span><span class="val-categorie_mare"><%- prod.categorie_mare%></span></p>
                                <p class="descriere"><span class="caracteristica">Description: </span><span class="val-description"><%- prod.descriere%></span></p>
                                <!-- <figure>
                                <a href="/produs/<%-prod.id %>"><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[image <%- prod.nume %>]" /></a>
                            </figure>-->
                            </div>
                            <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                        </article>
                        <% }%>
                </div>
            </section>
        </main>
        <%- include("../../fragmente/footer.ejs") %>

</body>

</html>