<!DOCTYPE html>

<html lang="en">

<head>
    <title>Feedback</title>
    <%- include("../../fragmente/head.ejs") %>
        <script type="text/javascript" src=/resurse/js/produse.js></script>
</head>

<body>
    <%- include("../../fragmente/header.ejs") %>
        <main>
            <section id="produse">
                <h2>Products</h2>
                <div class="grid-produse">
                    <% for( let prod of locals.produse) { %>
                        <article class="produs">
                            <h3 class="nume">Name: <a href="/produs/<%-prod.id %>"><span class="val-nume"><%- prod.nume%></span></a></h3>
                            <div class="info-prod">
                                <p class="pret">Price: <span class="val-pret"><%- prod.pret%></span></p>
                                <p class="storage_size">Storage size(MB): <span class="val-storage_size"><%- prod.storage_size%></span></p>
                            </div>
                            <p class="categorie_mare">Category:<span class="val-categorie_mare"><%- prod.categorie_mare%></span></p>
                            <figure>
                                <a href="/produs/<%-prod.id %>"><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[image <%- prod.nume %>]" /></a>
                            </figure>
                            <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                        </article>
                        <% }%>
                </div>
            </section>
        </main>
        <%- include("../../fragmente/footer.ejs") %>

</body>

</html>