<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <%- include("../../fragmente/head") %>
        <script>
            <% if (locals.utilizator) {%>
            // populez inputurile din pagina de profil cu datele din tabel (incarcate prin EJS)
            window.addEventListener("DOMContentLoaded", function() {
                document.getElementById("rparl").value = "";
                document.getElementById("inp-username").value =
                    "<%= locals.utilizator.username %>";
                document.getElementById("inp-username").readOnly = true;
                document.getElementById("inp-nume").value =
                    "<%= locals.utilizator.nume %>";
                document.getElementById("inp-prenume").value =
                    "<%= locals.utilizator.prenume %>";
                document.getElementById("inp-email").value =
                    "<%= locals.utilizator.email %>";
                document.getElementById("parl").value =
                    "";
                document.getElementById("phonenumber").value =
                    "<%= locals.utilizator.phone %>";
                document.getElementById("profilepic").value =
                    "<%= locals.utilizator.imagine%>";
                var optiuni = document.getElementById("sel-culoare").options;
                for (let opt of optiuni)
                    if (opt.value == "<%= locals.utilizator.culoare_chat %>")
                        opt.selected = true;
            });
            <%}%>
        </script>
</head>

<body class="container">
    <header>
        <%- include("../../fragmente/header") %>
    </header>
    <main>
        <section>
            <% if (locals.utilizator) {%>
                <h2>Profil</h2>
                <p>Mănânci prea multe prajituri și știi și tu asta!</p>
                <p>
                    <%= locals.mesaj %>
                </p>
                <%- include("../../fragmente/formular",{action:"/profil"}) %>
        </section>
        <%} else {%>
            <p>You are not logged in !</p>
            <%}%>
    </main>

    <%- include("../../fragmente/footer") %>
</body>

</html>